---

- name: Ensure Jenkins user on slaves
  user:
    name: "{{ jenkins_farm_ssh_user }}"
    password: "{{
      jenkins_farm_ssh_password
      | default(
        '$6$xJ5H4uQhfxcL3nY7$Tam0bIhAigVy8/6V88ppCGuGSJB83GWce/zTAHnmDvMvVgb3MKrrChW0LhrtciaraQuYJGZSbHoRzb.qbAP7..',
        true
      ) }}"
    home: "{{ jenkins_farm_ssh_home }}"
    shell: /bin/bash
  become: true

- name: Add master's public key to slaves
  authorized_key:
    user: "{{ jenkins_farm_ssh_user }}"
    key: "{{ hostvars[jenkins_farm_master]['jenkins_master_public_key'] }}"
    comment: "Jenkins master"
  become: true

- name: Ensure slave .ssh permissions and mode
  file:
    path: "{{ jenkins_farm_ssh_home }}/{{ item.name }}"
    mode: "{{ item.mode }}"
    owner: "{{ jenkins_farm_ssh_user }}"
    group: "{{ jenkins_farm_ssh_group }}"
  with_items:
    - name: .ssh/
      mode: "0700"
    - name: .ssh/authorized_keys
      mode: "0644"
  become: true
