{  
  "name":"{{ node.name }}",
  "nodeDescription":"{{ node.description }}",
  "numExecutors":"{{ node.executors }}",
  "remoteFS":"{{ node.remote_fs  }}",
  "labelString":"{{ node.labels | join(' ') }}",
  "mode":"{{ node.mode }}",
  "":[  
    "hudson.plugins.sshslaves.SSHLauncher",
    "hudson.slaves.RetentionStrategy$Always"
  ],
  "launcher": {
    "stapler-class": "hudson.plugins.sshslaves.SSHLauncher",
    "$class": "hudson.plugins.sshslaves.SSHLauncher",
    "host": "{{ node.hostname }}",
    "credentialsId": "jenkins.ssh",
    "": "0",
    "sshHostKeyVerificationStrategy": {
      "stapler-class": "hudson.plugins.sshslaves.verifiers.KnownHostsFileKeyVerificationStrategy",
      "$class": "hudson.plugins.sshslaves.verifiers.KnownHostsFileKeyVerificationStrategy"
    },
    "port": "22",
    "javaPath": "",
    "jvmOptions": "",
    "prefixStartSlaveCmd": "",
    "suffixStartSlaveCmd": "",
    "launchTimeoutSeconds": "",
    "maxNumRetries": "",
    "retryWaitTime": "",
    "tcpNoDelay": true,
    "workDir": ""
  },
  "retentionStrategy":{  
    "stapler-class":"hudson.slaves.RetentionStrategy$Always",
    "$class":"hudson.slaves.RetentionStrategy$Always"
  },
  "nodeProperties":{  
    "stapler-class-bag":"true"
    {% if node.env_vars | count > 0 %},
    "hudson-slaves-EnvironmentVariablesNodeProperty":{
      "env":[  
      {% set env_count = node.env_vars | count %}
      {% set iter = 0 %}
      {% for variable in node.env_vars %}
        {% set iter = iter + 1 %}
        { "key":"ENV_VAR",
          "value":"VALUE" }{% if iter < count %},{% endif %}
      {% endfor %}
    }
    {% endif %}
  },
  "type":"hudson.slaves.DumbSlave",
}
